/* Responsive Styles for Smaller Screens */
@media (max-width: 768px) {
    .top-section {
        flex-direction: column;
        align-items: center;
    }

    .image-div, .side-detail-div {
        width: 90%;
        margin: 10px 0;
    }

    .click {
        text-align: center;
        padding-right: 20px;
        width: auto;
    }

    footer {
        padding: 10px;
        margin-right: 10px;
    }
}
