/* General Styles */
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f4f4f9;
    font-family: 'Arial', sans-serif;
}

/* Navbar Styling */
.navbar {
    background-color: #9f7bcb;
}

.navbar-brand {
    font-weight: bold;
}

/* Top Section Styling */
.top-section {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    padding: 0 15px;
}

.image-div, .side-detail-div {
    background-color: #c762d8;
    width: 18rem;
    display: block;
    border-radius: 10px;
    margin-top: 30px;
}

.card-img-top {
    border-radius: 50%;
    border: 4px solid #FFD600;
    margin: 10px;
}

.card-body {
    padding: 15px;
    text-align: center;
}

.card-title, .card-text {
    color: #fff;
}

.card-title {
    font-size: 1.5rem;
    font-weight: bold;
}

.inner-div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.col-8 {
    margin-left: 20px;
}

.list-group-item {
    background-color: #f8f9fa;
    color: #495057;
}

.list-group-item.active {
    background-color: #9f7bcb;
    color: #fff;
}

/* Footer Styling */
footer {
    margin-top: 30px;
    padding: 20px;
    background-color: #f8f9fa;
}

footer .card-header {
    background-color: #9f7bcb;
    color: #fff;
}

footer .btn {
    background-color: #9f7bcb;
    border: none;
}

footer .btn:hover {
    background-color: #8b6b9f;
}

footer .card-footer {
    background-color: #9f7bcb;
    color: #fff;
    padding: 10px;
}
